<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Webpack bundle -->
    <script src="/bundle.js" ></script>
    <title>uBuy</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">uBuy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/auctions">Show auctions</a>
            {{#if user}}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manage auctions
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/auctions/create">Create</a>
                        <a class="dropdown-item" href="/auctions/created">List created</a>
                        <a class="dropdown-item" href="/auctions/won">List won</a>
                    </div>
                </div>
                <a class="nav-item nav-link" href="/messages">Messages</a>
                <a class="nav-item nav-link" href="/logout">Logout</a>
            {{else}}
                <a class="nav-item nav-link" href="/login">Login</a>
                <a class="nav-item nav-link" href="/register">Register</a>
            {{/if}}
        </div>
    </div>
</nav>

{{#if success_msg}}
    <div class="alert alert-success">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
    <div class="alert alert-danger">{{error_msg}}</div>
{{/if}}

{{#if error}}
    <div class="alert alert-danger">{{error}}</div>
{{/if}}

{{{body}}}

<footer class="footer-copyright">
    <p>uBuy</p>
</footer>
</body>
</html>