{{#if collection}}
    {{#each collection}}
        <ul class="list-group">
            <li class="list-group-item">Title: {{this.title}}</li>
            <li class="list-group-item">Description: {{this.description}}</li>
            <li class="list-group-item">Type: {{#if this.isBuyNow}}
                Buy now
            {{else}}
                Standard
            {{/if}}</li>
            <li class="list-group-item">Price: {{this.price}}</li>
            <li class="list-group-item">Start time: {{this.startTime}}</li>
            <li class="list-group-item">End time: {{this.endTime}}</li>
            <li class="list-group-item">Finished?: {{this.isFinished}}</li>
            <li class="list-group-item">Winner: {{this.currentWinner}}</li>
        </ul>
        <br/>
    {{/each}}
{{else}}
    <ul class="list-group">
        <li>There are no auctions yet.</li>
    </ul>
{{/if}}