<h2 class="page-header text-center">List of current auctions:</h2>
{{#if collection}}
    <div id="auctionList">
        {{#each collection}}
            {{#if this.isFinished}}
            {{else}}
                <div id="{{this.id}}">
                    <ul class="list-group">
                        <li class="list-group-item">Title: {{this.title}}</li>
                        <li class="list-group-item">Description: {{this.description}}</li>
                        <li class="list-group-item">Type: {{#if this.isBuyNow}}
                            Buy now
                        {{else}}
                            Standard
                        {{/if}}</li>
                        <li class="list-group-item">Price: {{this.price}}</li>
                        <li class="list-group-item">End time: {{this.endTime}}</li>
                        {{#if ../user}}
                            {{#if this.isBuyNow}}
                                <button id="buyNowButton" type="submit" class="btn btn-default">Buy now!</button>
                            {{else}}
                                <input type="number" step="0.01" min="{{math this.price "+" 1}}" class="form-control"
                                       placeholder="Bid"
                                       name="bid">
                                <button id="bidButton" type="submit" class="btn btn-default">Bid!</button>
                            {{/if}}
                        {{/if}}
                    </ul>
                    <br/>
                </div>
            {{/if}}
        {{/each}}
    </div>
    <div class="text-center">
        <button id="paginationButton" type="submit" class="btn btn-default">Load more</button>
    </div>
{{else}}
    <ul class="list-group text-center">
        <li>There are no auctions yet.</li>
    </ul>
{{/if}}